In [1]:
import pandas as pd

Checking the excel file for sheet names

In [6]:
file = '../F-179.xlsx'

xl = pd.ExcelFile(file)

print(xl.sheet_names)

['Rain', 'Tide', 'Well']

Parsing the well sheet from the excel file

In [7]:
well_df = xl.parse('Well')

well_df.head()

        date      time tz_cd  Well_ft Code  Corrected
0 2007-10-01  01:00:00   EDT     3.17    A      1.621
1 2007-10-01  01:15:00   EDT     3.18    A      1.631
2 2007-10-01  01:30:00   EDT     3.18    A      1.631
3 2007-10-01  01:45:00   EDT     3.18    A      1.631
4 2007-10-01  02:00:00   EDT     3.18    A      1.631

False

Subset the data to the columns of interest and rename corrected to depth

In [14]:
well_df = well_df[['date', 'Corrected']]
well_df.rename(columns = {'Corrected': 'depth'}, inplace=True)

In [25]:
well_mon = well_df.groupby(pd.Grouper(key = 'date', freq='M')).mean()

In [26]:
well_mon.head()

               depth
date
2007-10-31  1.398264
2007-11-30  0.823257
2007-12-31  0.118067
2008-01-31  0.162334
2008-02-29  0.154915

In [57]:
well_mon.index = well_mon.index.strftime("%Y-%m")
well_mon['date'] = well_mon.index

In [58]:
train = well_mon[well_mon.date <= '2017-12']
test = well_mon[well_mon.date > '2017-12']

In [66]:
train.head(n=6)

dtype('O')

In [31]:
from statsmodels.tsa.seasonal import seasonal_decompose

In [61]:
result = seasonal_decompose(train, model = 'additive', freq=12)

TypeError: ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''