In [1]:
import pandas as pd

Checking the excel file for sheet names

In [5]:
file = 'F-179.xlsx'

xl = pd.ExcelFile(file)

print(xl.sheet_names)

['Rain', 'Tide', 'Well']

In [6]:
well_df = xl.parse('Well')

well_df.head()

        date      time tz_cd  Well_ft Code  Corrected
0 2007-10-01  01:00:00   EDT     3.17    A      1.621
1 2007-10-01  01:15:00   EDT     3.18    A      1.631
2 2007-10-01  01:30:00   EDT     3.18    A      1.631
3 2007-10-01  01:45:00   EDT     3.18    A      1.631
4 2007-10-01  02:00:00   EDT     3.18    A      1.631

In [8]:
well_df = well_df[['date', 'Corrected']]
well_df.rename(columns = {'Corrected': 'depth'}, inplace=True)

In [9]:
well_mon = well_df.groupby(pd.Grouper(key = 'date', freq='M'))['depth'].mean()

In [18]:
well_mon.index = well_mon.index.strftime("%Y-%m")

In [26]:
train = well_mon[well_mon.index <= '2017-12']
test = well_mon[well_mon.index > '2017-12']

In [27]:
train.head(n=6)

2007-10    1.398264
2007-11    0.823257
2007-12    0.118067
2008-01    0.162334
2008-02    0.154915
2008-03    0.190734
Name: depth, dtype: float64